{{- $pricing       := .Site.Params.pricing }}
{{- $buttonText := index $pricing "buttontext" }}
{{- $buttonLink := index $pricing "buttonlink" }}
<section id="pricing" class="section section-feature-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Pricing</h2>
            <h3 class="subtitle is-5 is-muted">LoRaWAN Network Server As a Service (SaaS)</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <article class="message is-warning">
              <div class="message-body">
                Get started with our
                <a href="https://console.clodpi.io">LoRaWAN Network Server</a>,
                Use up to 5 nodes and its free forever*
              </div>
            </article>
            <article class="message is-info">
              <div class="message-body">
                For your production usage beyond 5 nodes, contact us @
                <span class="icon"><i class="fa fa-envelope"></i></span><a href="mailto:sales@clodpi.io">sales@clodpi.io</a>
                or <span class="icon"><i class="fa fa-phone"></i></span>+91 98948 49789
              </div>
            </article>
            <article class="message is-info">
              <div class="message-body">
                Schedule a free consultation session with us to help design your LoRaWAN or LPWAN IoT solutions
              </div>
            </article>
        </div>
        <p class="has-text-centered mt-20">
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
        </p>
    </div>
</section>
